{% extends 'Applic/index.html' %}


{% block titulo %}
    <h1>Hiciste click en 'Acerca'</h1>
{% endblock titulo %}

{% block contenido %}
    <p>Mi nombre es <strong>ALEJANDRO MARQUEZ</strong> como muchos del curso soy de Argentina, me interesé por este mundillo de la programación...
    
    Hasta ahora he hecho ya he hecho varios cursos de programación, y he tenido contacto con lenguajes como <strong>HTML, CSS, JAVASCRIPT, REACT</strong>y actualmente Python.

    El Proyecto no posee mucha estilización ya que mi objetivo más que la estilización es la lógica de Python, entender sus herramientas y hacer uso de ellas.</p>
{% endblock contenido %}
